body{
    background-image: url(https://thumbs.dreamstime.com/b/blue-map-africa-textured-background-use-as-wallpaper-147504595.jpg);
    font-size: 25px;
    font-weight: 440px;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(254, 255, 254);
    font-size: 450px;
    margin-left: 250px;
}
.section{
    color: antiquewhite;
}
.container{
    color: antiquewhite;
}
