body{
    background-image: url(https://images.unsplash.com/photo-1584968124544-d10ce10dd21f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBhbmQlMjBibHVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
    font-size: 25px;
    font-weight: 440px;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(254, 255, 254);
    font-size: 450px;
    margin-left: 250px;
}
.section{
    color: antiquewhite;
    margin-left: 65px;
}
.container{
    color: antiquewhite;
}
