body{
    background-image: url(https://wallpaperaccess.com/full/431280.jpg);
    font-size: 25px;
    font-weight: 440px;
    color: aliceblue;
}
h1{
    color: rgb(254, 255, 254);
    font-size: 350px;
    align-content: center;
    margin-left: 250px;
}